{include file="public/introduction"}


			<!--购物车 -->
			<div class="concent" style="margin-top: 30px;">
				<div id="cartTable" style="background: none repeat scroll 0% 0% rgb(238, 238, 238);">
					<div class="cart-table-th">
						<div class="wp">
							<div class="th th-chk">
								<div id="J_SelectAll1" class="select-all J_SelectAll">

								</div>
							</div>
							<div class="th th-item">
								<div class="td-inner" style="color: #F40;">商品信息</div>
							</div>
							<div class="th th-price">
								<div class="td-inner" style="color: #F40;">单价</div>
							</div>
							<div class="th th-amount">
								<div class="td-inner" style="color: #F40;">数量</div>
							</div>
							<div class="th th-sum">
								<div class="td-inner" style="color: #F40;">金额</div>
							</div>
							<div class="th th-op">
								<div class="td-inner" style="color: #F40;">操作</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>

					<tr class="item-list">
						<div class="bundle  bundle-last ">
							<div class="clear"></div>
							<div class="bundle-main">
								{volist name="dataCat" id="dataCatList"}
									<ul class="item-content clearfix">
										<li class="td td-chk" style="top: 40px">
											<div class="cart-checkbox ">
												<input class="check" id="J_CheckBox" name="items[]" value="{$dataCatList['goods_id']}" type="checkbox">
											</div>
										</li>
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" target="_blank" data-title="{$dataCatList['goods_name']}" class="J_MakePoint" data-point="tbcart.8.12">
													<img src="__STATIC_imgage__/images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg"></a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#" target="_blank" title="{$dataCatList['goods_name']}" class="item-title J_MakePoint" data-point="tbcart.8.11">{$dataCatList['goods_name']}</a>
												</div>
											</div>
										</li>
										<li class="td td-info">
											<div class="item-props item-props-can">
												{volist name="$dataCatList['specListText']" id="specListText"}
													<span class="sku-line">{$specListText}</span>
												{/volist}
												<span tabindex="0" class="btn-edit-sku theme-login">修改</span>
												<i class="theme-login am-icon-sort-desc"></i>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price price-promo-promo">
												<div class="price-content">
													<!-- <div class="price-line">
														<em class="price-original">{$dataCatList['goods_price']}</em>
													</div> -->
													<div class="price-line">
														<em class="J_Price price-now" tabindex="0">{$dataCatList['goods_price']}</em>
													</div>
												</div>
											</div>
										</li>
										<li class="td td-amount">
											<div class="amount-wrapper ">
												<div class="item-amount ">
													<div class="sl">
														<input class="min am-btn" name="" type="button" value="-" />
														<input class="text_box" name="" type="text" value="{$dataCatList['num']}" style="width:30px;" />
														<input class="add am-btn" name="" type="button" value="+" />
													</div>
												</div>
											</div>
										</li>
										<li class="td td-sum">
											<div class="td-inner">
												<em tabindex="0" class="J_ItemSum number"><?php echo (float)$dataCatList['goods_price']*$dataCatList['num']?></em>
											</div>
										</li>
										<li class="td td-op">
											<div class="td-inner">
												<a title="移入收藏夹" class="btn-fav" href="#">
	                 								 移入收藏夹
	                 							</a>
												<a href="javascript:;" data-point-url="#" class="delete">
	                 								 删除
	                 							</a>
											</div>
										</li>
									</ul>
								{/volist}
								
							</div>
						</div>
					</tr>
					<div class="clear"></div>

				</div>
				<div class="clear"></div>

				<div class="float-bar-wrapper">
					<div id="J_SelectAll2" class="select-all J_SelectAll">
						<div class="cart-checkbox">
							<input class="check-all check" style="margin-top: 0px" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
							<label for="J_SelectAllCbx2"></label>
						</div>
						<span style="cursor: pointer" id="quanxuan">全选</span>
					</div>
					<div class="operations">
						<a href="#" hidefocus="true" class="deleteAll">删除</a>
						<a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
					</div>
					<div class="float-bar-right">
						<div class="amount-sum">
							<span class="txt">已选商品</span>
							<em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
							<div class="arrow-box">
								<span class="selected-items-arrow"></span>
								<span class="arrow"></span>
							</div>
						</div>
						<div class="price-sum">
							<span class="txt">合计:</span>
							<strong class="price">¥<em id="J_Total">0.00</em></strong>
						</div>
						<div class="btn-area">
							<a href="pay.html" id="J_Go" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算">
								<span>结&nbsp;算</span></a>
						</div>
					</div>

				</div>
			<!--操作页面-->

			<div class="theme-popover-mask"></div>

			<div class="theme-popover">
				<div class="theme-span"></div>
				<div class="theme-poptit h-title">
					<a href="javascript:;" title="关闭" class="close">×</a>
				</div>
				<div class="theme-popbod dform">
					<form class="theme-signin" name="loginform" action="" method="post">

						<div class="theme-signin-left">

							<li class="theme-options">
								<div class="cart-title">颜色：</div>
								<ul>
									<li class="sku-line selected">12#川南玛瑙<i></i></li>
									<li class="sku-line">10#蜜橘色+17#樱花粉<i></i></li>
								</ul>
							</li>
							<li class="theme-options">
								<div class="cart-title">包装：</div>
								<ul>
									<li class="sku-line selected">包装：裸装<i></i></li>
									<li class="sku-line">两支手袋装（送彩带）<i></i></li>
								</ul>
							</li>
							<div class="theme-options">
								<div class="cart-title number">数量</div>
								<dd>
									<input class="min am-btn am-btn-default" name="" type="button" value="-" />
									<input class="text_box" name="" type="text" value="1" style="width:30px;" />
									<input class="add am-btn am-btn-default" name="" type="button" value="+" />
									<span  class="tb-hidden">库存<span class="stock">1000</span>件</span>
								</dd>

							</div>
							<div class="clear"></div>
							<div class="btn-op">
								<div class="btn am-btn am-btn-warning">确认</div>
								<div class="btn close am-btn am-btn-warning">取消</div>
							</div>

						</div>
						<div class="theme-signin-right">
							<div class="img-info">
								<img src="__STATIC_imgage__/images/kouhong.jpg_80x80.jpg" />
							</div>
							<div class="text-info">
								<span class="J_Price price-now">¥39.00</span>
								<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
							</div>
						</div>

					</form>
				</div>
			</div>
		<!--引导 -->
		<div class="navCir">
			<li><a href="home2.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li class="active"><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>

<script>
 $(document).ready(function(){
	//全选
	$('#J_SelectAllCbx2').change(function(){
		if($(this).is(':checked')){
			$('.clearfix li').each(function(){
				$(this).children('.cart-checkbox').children('input[name="items[]"]').attr('checked','checked');//this指当前的html对象
			})
		}else{
			$('.clearfix li').each(function(){
				$(this).children('.cart-checkbox').children('input[name="items[]"]').attr('checked',false);//this指当前的html对象
			})
		}
	});
		 	
	})
// 弹出规格选择
 /*
 
         			.parents('.item-amount')
         			.parents('.amount-wrapper')
         			.parents('.td-amount')
         			.prev('.td-price')
         			.children('.item-price')
         			.children('.price-content')
         			.children('.price-line')
         			.children('.J_Price')
  */
 $(document).ready(function(){

     $(function(){
         $(".add").click(function(){
          var t=$(this).parent().find('input[class*=text_box]');
         t.val(parseInt(t.val())+1)
         var price = $(this).parents().parents().parents().parents().prev('.td-price').children('.item-price').children('.price-content').children('.price-line').children('.J_Price').html();
         $(this).parents().parents().parents().parents().next().children('.td-inner').children('.J_ItemSum').html(parseInt(price)*parseInt(t.val()));
         countItem();
        })
      $(".min").click(function(){
       var t=$(this).parent().find('input[class*=text_box]');
         t.val(parseInt(t.val())-1)
         if(parseInt(t.val())<1){
          t.val(1);
          }
          var price = $(this).parents().parents().parents().parents().prev('.td-price').children('.item-price').children('.price-content').children('.price-line').children('.J_Price').html();
         $(this).parents().parents().parents().parents().next().children('.td-inner').children('.J_ItemSum').html(parseInt(price)*parseInt(t.val()));
         countItem();
       })

      function countItem(){
      		var count = 0;
      		var IntCount = 0;
      		$('.item-content').each(function(){
      			if ($(this).children('.td-chk').children('.cart-checkbox').children('#J_CheckBox').attr('checked')) {
      				count += parseInt($(this).children('.td-sum').children('.td-inner').children('.J_ItemSum').html());
      				IntCount++;
      			}
      		})
      		$('#J_Total').html(count);
      		$('#J_SelectedItemsCount').html(IntCount);
      }

    }) 
	    if (!document.getElementsByClassName) {
        document.getElementsByClassName = function (cls) {
            var ret = [];
            var els = document.getElementsByTagName('*');
            for (var i = 0, len = els.length; i < len; i++) {

                if (els[i].className.indexOf(cls + ' ') >=0 || els[i].className.indexOf(' ' + cls + ' ') >=0 || els[i].className.indexOf(' ' + cls) >=0) {
                    ret.push(els[i]);
                }
            }
            return ret;
        }
    }
 
 
//商品规格选择
$(function(){
	$(".theme-options").each(function(){
		var i=$(this);
		var p=i.find("ul>li");
		p.click(function(){
			if(!!$(this).hasClass("selected")){
				$(this).removeClass("selected");
			
			}else{
				$(this).addClass("selected").siblings("li").removeClass("selected");
				
			}

		})
	})

})
 
 
 
 
 
})
 
// 弹出规格选择
 
			$(document).ready(function($) {

	/*************************************************************/
				var $ww = $(window).width();
	
				$('.theme-login').click(function() {
//					禁止遮罩层下面的内容滚动
					// $(document.body).css("position","fixed");
					$('.btn-op').show();
					$(this).addClass("selected");
					$(this).parent().addClass("selected");
					var to=$(this).prev().offset().top-100;
					var th=$(this).offset().top;
					var tl=$(this).offset().left-600;
					
					$('.theme-span').show();				
					$('.theme-popover-mask').show();
					$('.theme-popover-mask').height($(document).height());
					$('.theme-popover').slideDown(200);
					
			   if ($ww>640){
					$('.theme-popover').css("top",th);
					$('.theme-popover').css("left",tl);
					$('.theme-popover-mask').hide();
				 	}					
			   if ($ww>1024){				
					$('.theme-popover').css("top",to);
					$('.theme-popover').css("left",tl);
					$('.theme-popover-mask').hide();
				 	}													
					
				})
				$('.theme-poptit .close,.btn-op .close').click(function() {
					$(document.body).css("position","static");
//					滚动条复位
					$('.theme-signin-left').scrollTop(0);					
					$('.theme-login').removeClass("selected");
					$('.item-props-can').removeClass("selected");					
					$('.theme-span').hide();
					$('.theme-popover-mask').hide();
					$('.theme-popover').slideUp(200);
				})

				
			}); 

</script>

		{include file="public/bottom"}
