<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC_admin__/frame/css/font.css">
	<link rel="stylesheet" href="__STATIC_admin__/frame/css/xadmin.css">
    <!-- <link rel="stylesheet" href="__STATIC_admin__/public/goods/listlayui.css"> -->
    <link rel="stylesheet" href="__STATIC_admin__/public/goods/Getgoods.css">
    <link rel="stylesheet" href="__STATIC_admin__/public/upload.css">
    <link rel="stylesheet" href="__STATIC_admin__/frame/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC_admin__/frame/css/style.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC_admin__/frame/css/colpick.css" type="text/css" />

    <script src="__STATIC_admin__/public/jquery.min.js"></script>
    <script src="__STATIC_admin__/frame/js/colpick.js"></script>
    <script src="__STATIC_admin__/frame/js/plugin.js"></script>
    <!-- <script type="text/javascript" src="__STATIC_admin__/public/goods/lisyLayui.js"></script> -->
    <script src="__STATIC_admin__/frame/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC_admin__/frame/js/xadmin.js"></script>
    <script type="text/javascript" src="__STATIC_admin__/public/goods_list.js"></script>
    <script src="__STATIC_admin__/public/jQuery.upload.min.js"></script>
    <script type="text/javascript" src="__STATIC_admin__/public/edit.js"></script>
    <script type="text/javascript" src="__STATIC_admin__/public/goods/Getgoods.js"></script>
</head>