{include file="public/header"}

<div class="userAddIndexMin">

<table class="layui-input">
	<tr>
		<td><span class="xx">*</span>邮箱地址</td>
		<td><input type="text" class="layui-input" name="userEmailName"></td>
		<td></td>
	</tr>
	<tr>
		<td><span class="xx">*</span>邮箱标题</td>
		<td><input type="text" class="layui-input" name="userEmailTitle"></td>
	</tr>
	<tr>
		<td><span class="xx">*</span>邮件内容</td>
		<td>
		<textarea name="Useremail" style="padding: 5px;    border-color: #e6e6e6;" id="userEmailContent" cols="50" rows="12"></textarea>
		</td>
	</tr>
</table>
	<div class="userAddTableBtn">
	<button class="layui-btn userAIEmail">提交</button>
	</div>

</div>