{include file="public/header"}
<link href="__STATIC_admin__/public/order.css" rel="stylesheet" type="text/css" />
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">订单管理</a>
        <a>
          <cite>订单列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="orderform">
          <input class="layui-input" placeholder="开始日" name="starttime" id="starttime">
          <input class="layui-input" placeholder="截止日" name="outtime" id="outtime">
          <div class="layui-input-inline">
            <select name="paystatus">
              <option value="0" {if condition="$paystatus == 0"}selected="selected"{/if}>支付状态</option>
              <option value="1" {if condition="$paystatus == 1"}selected="selected"{/if}>已支付</option>
              <option value="2" {if condition="$paystatus == 2"}selected="selected"{/if}>未支付</option>
            </select>
          </div>
          <div class="layui-input-inline">
            <select name="paytype">
              <option value="0" {if condition="$paytype == 0"}selected="selected"{/if}>支付方式</option>
              <option value="1" {if condition="$paytype == 1"}selected="selected"{/if}>在线支付</option>
              <option value="2" {if condition="$paytype == 2"}selected="selected"{/if}>货到付款</option>
              <option value="3" {if condition="$paytype == 3"}selected="selected"{/if}>微信付款</option>
              <option value="4" {if condition="$paytype == 4"}selected="selected"{/if}>支付宝付款</option>
            </select>
          </div>
          <div class="layui-input-inline">
            <select name="ordertype">
              <option value="0" {if condition="$ordertype == 0"}selected="selected"{/if}>订单状态</option>
              <option value="1" {if condition="$ordertype == 1"}selected="selected"{/if}>未付款</option>
              <option value="2" {if condition="$ordertype == 2"}selected="selected"{/if}>待发货</option>
              <option value="3" {if condition="$ordertype == 3"}selected="selected"{/if}>待确认收货</option>
              <option value="4" {if condition="$ordertype == 4"}selected="selected"{/if}>已完成</option>
              <option value="5" {if condition="$ordertype == 5"}selected="selected"{/if}>已取消</option>
            </select>
          </div>
          <input type="text" name="orderddh"  placeholder="请输入订单号" value="{$orderddh}" autocomplete="off" class="layui-input">
          <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <span class="layui-btn layui-bg-cyan" style="float: right" data-type="reload">共有数据：{$orderList|count} 条记录</span>
        <span class="layui-btn" data-type="reload">导出</span>

      </xblock>
    <table class="table table-bordered bg-white">
         <tbody>
          <tr>
                <th class="order-tab-1" style="width: 50%">商品信息</th>
                <th class="order-tab-2" style="width: 13%">金额</th>
                <th class="order-tab-3" style="width: 13%">实际付款</th>
                <th class="order-tab-4" style="width: 13%">订单状态</th>
                <th class="order-tab-5" style="width: 11%">操作</th>
          </tr>
        </tbody>
    </table>
          {volist name="orderList" id="ol"}
              <table class="table table-striped table-bordered text-nowrap">
                            <tbody><tr>
                                <td colspan="5">
                                    <span class="col-md-2">
                                        <span class="titleColor">下单时间：</span>
                                        {$ol['order_time']|date="Y-m-d h:i:s",###}</span>
                                    <span class="col-md-3">
                                        <?php if($ol['order_status'] ==  '未付款'){ ?>
                                            <span class="label label-default">未付款</span>
                                            <?php }else if($ol['order_status'] == '待发货'){ ?>
                                            <span class="label label-success">待发货</span>
                                            <?php }else if($ol['order_status'] == '待确认收货'){ ?>
                                            <span class="label label-warning">待确认收货</span>
                                            <?php }else if($ol['order_status'] ==  '已完成'){ ?>
                                            <span class="label label-success">已完成</span>
                                            <?php }else{ ?>
                                            <span class="label label-danger">已取消</span>
                                            <?php } ?>
                                          <span class="titleColor">订单号：{$ol['order_ddh']}</span>
                                    </span>
                                    <span class="mr-5">
                                        <span class="titleColor">用户编号：{$ol["user_list"]["user_id"]}</span>
                                    </span>
                                    <span class="mr-5">
                                        <span class="titleColor">手机号：{$ol["address_list"]["mobile"]}</span>
                                    </span>
                                    <span class="mr-5">
                                        <span class="titleColor">昵称：{$ol["user_list"]["user_nick"]}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="order-tab-1" style="width: 50%">
                                                                    <div class="goods-item" flex="dir:left box:first">
                                        <div class="form-inline">
                                            <div class="form-group goods-pic" style="width:65px;height: 65px;">
                                              <img src="<?php $url = 'http://'.$_SERVER['SERVER_NAME'].$ol['goods_list']['original_img']; echo str_replace('\\', '/', $url);?>" width="65px" height="65px" alt="">
                                            </div>
                                            <div class="form-group">
                                                <div class="goods-name">{$ol["goods_list"]["goods_name"]}</div>
                                                <div class="mt-1">
                                                    <span class="fs-sm">
                                                        规格：
                                                        <span class="text-danger"> 
                                                          <span class="mr-3">{$ol["order_itemname"]}</span>
                                                         </span>
                                                    </span>
                                                    <span class="fs-sm">数量：
                                                        <span class="text-danger">{$ol["order_num"]} </span>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="fs-sm">单价：
                                                        <span class="text-danger">{$ol["order_price"]/$ol["order_num"]}元</span>
                                                    </span>
                                                    <span class="fs-sm">小计：
                                                        <span class="text-danger mr-4">{$ol["order_price"]}元</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                                </td>
                                <td class="order-tab-2" style="width: 13%">
                                    <div class="titleColor">总金额：
                                        <span style="color:blue;">{$ol["order_price"]}</span>元
                                    </div>
                                </td>
                                <td class="order-tab-3" style="width: 13%">
                                    <div><span style="color:blue;">{$ol["order_price"]}</span>元</div>
                                </td>
                                <td class="order-tab-4" style="width: 13%">
                                  <div>
                                        支付方式：
                                        <?php if($ol['order_pay'] ==  '微信付款'){ ?>
                                            <span class="label label-success">{$ol["order_pay"]}</span>
                                            <?php }else if($ol['order_pay'] == '支付宝付款'){ ?>
                                            <span class="label label-primary">{$ol["order_pay"]}</span>
                                            <?php }else if($ol['order_pay'] == '未支付'){ ?>
                                            <span class="label label-danger">{$ol["order_pay"]}</span>
                                            <?php }else if($ol['order_pay'] == '在线付款'){ ?>
                                            <span class="label label-info">{$ol["order_pay"]}</span>
                                            <?php }else{ ?>
                                            <span class="label label-warning">{$ol["order_pay"]}</span>
                                        <?php } ?>
                                    </div>
                                </td>
                                <td class="order-tab-5" style="width: 11%">

                                    <div>
                                        <a onclick="orderDetails(this,{$ol['order_gid']})" class="btn btn-primary btn-sm">详情</a>
                                    </div>
                                        <?php if($ol['order_status'] ==  '未付款'){ ?>
                                            <div style="margin-top: 0.5rem;">
                                              <a class="btn btn-danger btn-sm" onclick="orderCancel(this,{$ol['order_gid']})">取消订单</a>
                                            </div>
                                        <?php }else if($ol['order_status'] == '待发货'){ ?>
                                            <div style="margin-top: 0.5rem;">
                                              <a class="btn btn-success btn-sm" onclick="orderfahuo(this,{$ol['order_gid']})">发货</a>
                                            </div>
                                            <div style="margin-top: 0.5rem;">
                                              <a class="btn btn-danger btn-sm" onclick="orderCancel(this,{$ol['order_gid']})">取消订单</a>
                                            </div>
                                        <?php }else if($ol['order_status'] == '待确认收货'){ ?>
                                            <div style="margin-top: 0.5rem;">
                                              <a class="btn btn-info btn-sm" onclick="orderfahuo(this,{$ol['order_gid']})" style="background-color: #033c73; border: #033c73; ">物流</a>
                                            </div>
                                        <?php }else if($ol['order_status'] == '已完成'){ ?>
                                            <div style="margin-top: 0.5rem;">
                                              <a class="btn btn-info btn-sm" href="">确认收货</a>
                                            </div>
                                  <?php } ?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div>
                                        <span class="mr-2"><span class="titleColor">收货人：{$ol["address_list"]["consignee"]}</span></span>
                                        <span class="mr-2"><span class="titleColor">电话：{$ol["address_list"]["mobile"]}</span></span>
                                        <span class="mr-3"><span class="titleColor">地址：
                                        {$ol["address_list"]["country"]}
                                        {$ol["address_list"]["province"]}
                                        {$ol["address_list"]["city"]}
                                        {$ol["address_list"]["district"]}
                                        {$ol["address_list"]["address"]}
                                      </span></span>
                                        <!--<a class="btn btn-sm btn-primary edit-address"
                                           data-index="#"
                                           data-order-type="store" href="javascript:">修改地址</a>-->
                                         <span class=" badge badge-default" style="background-color: #2fa4e7;">{$ol["kuaidi_list"]["name"]}</span>
                                        <span class="mr-3">
                                            <span class="titleColor">快递单号：</span>
                                                <a href="javascript:void(0)" data-value="{$ol["order_fahuo_wuliudh"]}" data-target="#expressModal">{$ol["order_fahuo_wuliudh"]}</a>
                                        </span>
                                        </div>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                      </table>

                      {/volist}


              <div style="text-align: center;" id="goodsListPage">123456</div>

    </div>
    <script>
      layui.use(['laydate','laypage'], function(){
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#starttime' //指定元素
          ,value: '{$starttime}'
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#outtime' //指定元素
          ,value: '{$outtime}'
        });

          //执行一个laypage实例
          laypage.render({
            elem: 'goodsListPage' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: {$orderCount} //数据总数，从服务端得到
            ,limit: {$pageSum}
            ,layout: ['limit', 'prev', 'page', 'next']
            ,limits: [10, 20, 30, 100]
            ,pages: '<?php echo ceil($orderCount/$pageSum);?>' //总页数
            ,curr: 10
            ,jump: function (obj,first) {
              if (!first) {
            var pindex=obj.curr;
            var dataList = $('#orderform').serialize();
            window.location.href = "/admin/order/index?"+encodeURI(dataList)+"&page="+pindex+"&pageSum="+obj.limit;
             }
            }
          });
      });

      function orderDetails(obj, gid){
        // obj,id='0',title='',url=''
        var w = document.documentElement.clientWidth-50 > 1200 ? 1200 : document.documentElement.clientWidth-50;
        var h = document.documentElement.clientHeight - 10 > 810 ? 810 : document.documentElement.clientHeight-10;
        x_admin_show('订单详情','/admin/order/orderdetails'+"?id="+gid,w,h);
      }

      function orderfahuo(obj, gid){
            x_admin_show('发货','/admin/order/orderfahuo'+"?id="+gid,500,300);
      }

      function orderCancel(obj, gid){
        var type = window.confirm("确定取消订单吗？");
        if (!type) {
          return false;
        }
          $.ajax({
              'type' : 'post',
              'url'  : '{:Url("order/orderCancel")}',
              'data' : {'gid':gid},
              'dataType' : 'json',
              'async' : 'false',
              success:function(data){
                 alert(data['msg']);
              },
              error:function(){
                console.log("请检查网络状态");
              }
          })
      }

    </script>
<style>
 

</style>
  </body>

</html>