{include file="public/header"}

		<link href="__STATIC_index__/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC_index__/css/infstyle.css" rel="stylesheet" type="text/css">
		<!--头 -->
		 
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-info">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
						</div>
						<hr/>

						<!--头像 -->
						<div class="user-infoPic">

							<div class="filePic">
								<input type="file" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*">
								<img class="am-circle am-img-thumbnail" src="{$userData['user_head_pic']}" alt="" />
							</div>
							<div class="info-m">
								<div>
									<b>昵称：<i>{$userData['user_nick']}</i></b>
									{switch name="$userData['user_lever']" }
											    {case value="1"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -264px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {case value="2"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -224px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {case value="3"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -184px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {case value="4"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -144px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {case value="5"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -104px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {case value="6"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -64px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {case value="7"}<span style="background: url('__STATIC_imgage__/images/dj.png')no-repeat -24px -505px;    width: 16px;height: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{/case}
											    {default /}默认情况
									{/switch}
								</div>
							</div>
						</div>

						<!--个人信息 -->
						<div class="info-main">
							<form class="am-form am-form-horizontal">

								<div class="am-form-group">
									<label for="user_nick" class="am-form-label">昵称</label>
									<div class="am-form-content">
										<input type="text" id="user_nick" placeholder="nickname" value="{$userData['user_nick']}">
                                          <small>昵称长度不能超过40个汉字</small>
									</div>
								</div>

								<div class="am-form-group">
									<label for="user_mobile" class="am-form-label">手机号</label>
									<div class="am-form-content">
										<input type="text" id="user_mobile" disabled="" placeholder="name" value="{$userData['user_mobile']}">
                                         
									</div>
								</div>

								<div class="am-form-group">
									<label class="am-form-label">性别</label>
									<div class="am-form-content sex">
										<label class="am-radio-inline">
											<input type="radio" name="sex" value="0" data-am-ucheck> 男
										</label>
										<label class="am-radio-inline">
											<input type="radio" name="sex" value="1" data-am-ucheck> 女
										</label>
										<label class="am-radio-inline">
											<input type="radio" name="sex" value="2" checked data-am-ucheck> 保密
										</label>
									</div>
								</div>

								<div class="am-form-group">
									<label for="user-birth" class="am-form-label">生日</label>
									<div class="am-form-content birth">
										<div class="birth-select">
											<select name="year" id="year" data-am-selected="{maxHeight: 160}">
												<?php 
													for($i = 1960; $i < date("Y"); $i++){
														echo '<option value="'.$i.'">'.$i.'</option>';
													}
												?>
											</select>
											<em>年</em>
										</div>
										<div class="birth-select2">
											<select name="mon" id="mon" data-am-selected="{maxHeight: 160}">
												<?php 
													for($i = 1; $i < 13; $i++){
														echo '<option value="'.$i.'">'.$i.'</option>';
													}
												?>
											</select>
											<em>月</em></div>
										<div class="birth-select2">
											<select name="day" id="day"  data-am-selected="{maxHeight: 160}">
												<?php 
													for($i = 1; $i < 31; $i++){
														echo '<option value="'.$i.'">'.$i.'</option>';
													}
												?>
											</select>
											<em>日</em></div>
									</div>
							
								</div>
								<div class="am-form-group">
									<label for="user-email" class="am-form-label">电子邮件</label>
									<div class="am-form-content">
										<input id="user-email" placeholder="Email" disabled value="{$userData['user_email']}" type="email">

									</div>
								</div>
								<div class="am-form-group address">
									<label for="user-address" class="am-form-label">收货地址</label>
									<div class="am-form-content address">
										<a href="address.html">
											<p class="new-mu_l2cw">
												<span class="province">湖北</span>省
												<span class="city">武汉</span>市
												<span class="dist">洪山</span>区
												<span class="street">雄楚大道666号(中南财经政法大学)</span>
												<span class="am-icon-angle-right"></span>
											</p>
										</a>

									</div>
								</div>
								<div class="am-form-group safety">
									<label for="user-safety" class="am-form-label">账号安全</label>
									<div class="am-form-content safety">
										<a href="safety.html">

											<span class="am-icon-angle-right"></span>

										</a>

									</div>
								</div>
								<div class="info-btn">
									<div class="am-btn am-btn-danger" id="submit">保存修改</div>
								</div>

							</form>
						</div>

					</div>

				</div>
				<!--底部-->
			</div>

<script type="text/javascript">
	$(document).ready(function(){
		var $selected = $('#mon');
		$selected.on('change', function() {
			var num = 0;
			var year = '<?php echo date("Y");?>';
			var er = 29;
			if (year%4) {
				er = 28;
			}
			switch(parseInt($(this).val())){
				case 1:
				case 3:
				case 5:
				case 7:
				case 8:
				case 10:
				case 12:
					num = 31;
					break;

				case 4:
				case 6:
				case 9:
				case 11:
					num = 30;
					break;
				case 2:
					num = er;
					break;
			}
			var chiText = '';
			for (var i = 1; i <= num; i++) {
				chiText += '<option value="'+i+'">'+i+'</option>';
			}
			$("#day").html('').html(chiText);
	  });
		// 表单提交
		$('#submit').click(function(){
			var user_nick = $('#user_nick').val();
			var user_sex = $('input[name="sex"]:checked').val();
			var year = $('#year option:selected').text();
			var mon = $('#mon option:selected').text();
			var day = $('#day option:selected').text();
			if (year == '' ||  mon == '' || day == '') {
				alert("请选择生日！");
				return false;
			}
			$.ajax({
				type : 'post',
				url  : '{:Url("index/editInf")}',
				data : {'user_nick':user_nick, 'user_sex' : user_sex, 'user_birthday' : year+'_'+mon+'_'+day},
				dataType : 'json',
				success:function(data){
					alert(data['msg']);
				},
				error:function(){
					alert("请检查网络状况!");
				}
			})
		})
	})
</script>

{include file="public/bottom"}